<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать новое место</title>


    <script th:src="@{'https://api-maps.yandex.ru/v3/'+'?apikey='+${@environment.getProperty('yandex.map.api.key')}+'&lang=ru_RU'}"></script>
    <script type="text/javascript">
        initMap();
        import * as ymaps3 from 'ymaps3';
        async function initMap() {
            await ymaps3.ready;

            const {YMap, YMapDefaultSchemeLayer} = ymaps3;

            const map = new YMap(
                document.getElementById('map'),
                {
                    location: {
                        center: [37.588144, 55.733842],
                        zoom: 10
                    }
                }
            );

            map.addChild(new YMapDefaultSchemeLayer());
        }
    </script>
</head>


<body>

<div id="map" style="width: 600px; height: 400px"></div>


<form th:method="POST" th:action="@{/realmProperties/save}" th:object="${realmProperty}">

    <label for="name"> Название недвижимости </label>
    <input id="name" th:field="*{name}" type="text"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="size"> Размер </label>
    <input id="size" th:field="*{size}" type="number"/>
    <div style="color: red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>
    <br/>
    <label for="price"> Цена </label>
    <input id="price" th:field="*{price}" type="number"/>
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br/>

    <input type="submit" value="Добавить недвижимость"/>

</form>

<br/>

<a th:href="@{/realmProperties/show}"> Список всей недвижимости </a>

<br/>

<br/>
<a th:href="@{/users/showUserInfo}"> Мой профиль</a>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти из профиля"/>
</form>

</body>
</html>